body {
    background: #f6f6f6;
}

#pfp {
    height: 200px;
    border-radius: 50%;
    border: 2px solid powderblue;
}

#att-container{
    width: 40%;
}

#color-container{
    width: 90%;
    margin: auto;
    background: blue;
    border-radius: 10px;
    color: #f6f6f6;
}

.col-4 {
    background: blue;
    color: #f6f6f6;
    border-radius: 10px;
}

a{
    color: #f6f6f6;
}